@import "tailwindcss";


html, body, #root {
    height: 100%;
    overflow-x: hidden;
}


@layer base {
    #root{
        @apply text-xs md:text-sm xl:text-base;
    }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}